.menu-left-licences {
    width: 100%;
    height: calc(100% - 200px);
    background-color: lightblue;
}

.menu-left-licences ul {
    list-style-type: none;
    padding-left: 20px;
}

.menu-left-licences li {
    display: flex;
    flex-direction: row;
}

.menu-left-licences img {
    width: 24px;
    height: 24px;
}