.block-cost-total {
  width: 220px;
  height: 115px;
}

.block-cost-total .block-text {
  height: 55px;
  font-size: 20px;
  text-align: center;
}

.block-cost-total .block-value {
  height: 55px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}