.menu-left {
    width: 250px;
    height: calc(100% - 35px);
    background-color: lightblue;
    float: left;
}

.menu-left ul {
    list-style-type: none;
    padding-left: 20px;
}

.menu-left li {
    display: flex;
    flex-direction: row;
}

.menu-left img {
    width: 24px;
    height: 24px;
}