.content {
  background-color: pink;
  width: calc(100% - 250px);
  min-height: calc(100% - 35px);
  float: left;
  overflow-x: auto;
}

.content h1 {
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.content h2 {
  font-weight: 200;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}