.content {
    width: calc(100% - 250px);
    height: calc(100% - 65px);
    float: left;
    overflow-y: auto;
    background-color: #f0f0f1;
    float: left;
    overflow-x: auto;
    color: #000000;
    position: fixed;
    top: 65px;
    left: 250px;
}

.content h1 {
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content h2 {
  font-weight: 200;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}