.block-number-users-with-this-version {
  margin-top: 20px;
  width: 220px;
  height: 115px;
}

.block-number-users-with-this-version .block-text {
  font-size: 20px;
  text-align: center;
}

.block-number-users-with-this-version .block-value {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}